 #color definitions {{{

# pink=$(tput setaf 175)
# lpink=$(tput setaf 224) 
# green=$(tput setaf 71)
# white=$(tput setaf 231)
# lblue=$(tput setaf 153)
# red=$(tput setaf 160)
# yellow=$(tput setaf 226)
# lyellow=$(tput setaf 230)
# purple=$(tput setaf 91)
# lpurple=$(tput setaf 170)

# bold=$(tput bold)
# NSFX=$(tput sgr0) #Name suffix
# NPFX="${NSFX}: ${bold}" #Name prefix
#
# }}}

col=$white

# 6 rows available for customizing
# use $NONE if you want it to be empty (it's better if $NONE is the last in order)

S0=$USR
S1=$OS
S2=$KERNEL
S3=$PKGS
S4=$SHELL
S5=$UPTIME
S6=$MEM
